form {
    margin: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    

  }

  input[type=text],[type=number],[type=url] {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 18px;
  }

  .input-field {
    position: relative;
    width: 45%;
    height: 44px;
    line-height: 44px;
    flex-shrink: 0;
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    transition: 0.2s all;
    cursor: text;
    font-size: 18px;
  }
  input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #7b7b7b;
    box-shadow: none;
    color: #7b7b7b;
  }

  input:focus{
    border-color: #ffcc00;
  }

  input:focus~label,
  input:valid~label {
    font-size: 14px;
    top: -24px;
    color: #ffcc00;
  }

  input:not(:placeholder-shown)~label,
  input:focus~label {
    font-size: 14px;
    top: -24px;
  }

  /* input:not(:placeholder-shown):invalid{
    border-color: red;
  }

  input:not(:placeholder-shown):invalid~label{
    color: red;
  } */

  .image-link {
    width: 100%;
  }

  input[type=submit]:hover {
    background-color: #ffcc00;
  }

  .header-contaner{
    width: 100%;
  }

  .requirement-message {
    color: red;
  }
/* 
  input:invalid:not(:focus).num {
    color: #ffffff00;
  }

  input:not(:focus).num~label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #7b7b7b;
    transition: 0.2s all;
    cursor: text;
    font-size: 18px;
  }

  input:valid.num~label {
    font-size: 14px;
    top: -24px;
  } */


